streamlit
crewai
openai
python-dotenv
google-cloud-storage
PyJWT
moviepy
psycopg2-binary
requests
pandas
google-generativeai
litellm
fastapi
uvicorn
apscheduler
email-validator
fastapi-sso
streamlit-sortables
crewai[google-genai]
psutil
celery
redis
flower


pydub==0.25.1
